/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  background-color: #f5f5f5;
}

.auth-container {
  min-width: 180px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 15px 20px 2px rgb(0 0 0 / 20%)
}

.my-card{
  box-shadow: 5px 6px 20px 2px rgb(0 0 0 / 20%);
}
