
@mixin myMargin($prop, $val) {
    margin-#{$prop}: $val;
}

@mixin titleFormat(){
    @include myMargin('bottom', 2rem);
        font-weight: bold;
        font-size: 2rem;
        color: textContrast($background);
        @media screen and (max-width: 300px){
            font-size: 1.2rem;
        }
}

// function that takes as a parameter the background colo
//basically if the bg-color is dark sets the text-color on white
//and on black if bg-color is light
@function textContrast($bg-color){

    @if(lightness($bg-color) < 50){
        @return white;
    }@else{
        @return black;
    }
}