// google font import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Overrides of default BS variables so I can use my own
$primary: rgb(27, 27, 27) !default;
$secondary: rgb(233, 233, 233)!default;
$background: #ccc !default;