<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- load application.properties -->
	<!-- Vai a prendere le proprieta' nel file che ti dico 
	location="classpath:application.properties" -->
     <context:property-placeholder location="classpath:application.properties"></context:property-placeholder>

	<!-- Costruzione beans -->
	<bean id="address" 
		class="com.davidedalsanto.Lezione3.classes.Address"
		>
		<property name="road" value="#{'${addr1.road}'.toUpperCase()}"></property>
	</bean>
	
	<bean id="address2" 
		class="com.davidedalsanto.Lezione3.classes.Address"
		>
		<property name="road" value="Via Liguria 1"></property>
	</bean>
	
	<!-- Dependecy injection manuale -->
	<!--  
	<bean id="person1"
		class="com.davidedalsanto.Lezione3.classes.Person"
		>
		<property name="name" value="Davide"></property>
		<property name="address">
			<ref bean="address1"></ref>
		</property>
	</bean>
	-->
	
	<!-- Dependecy injection Autowired -->
	<bean id="person1"
		class="com.davidedalsanto.Lezione3.classes.Person"
		autowire="byName">
		<property name="name" value="Davide"></property>		
	</bean>
	 
</beans>













