/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'fira sans', sans-serif;
}
html{
  background-color: #f0f0ff;
}

// btns animations
.btn {
  padding: 10px 20px;
  margin-left: 0.5rem;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.done-btn::before{
  background-color: #fbbc05;
}
.del-btn::before{
  background-color: #ea4335;
}


.btn:hover {
  color: #e8e8e8;
}

.done-btn:hover, .del-btn:hover{
  color: black;
}

.btn:hover::before {
  width: 100%;
}


.container{
  max-width: 600px;
  width: 90vw;
  margin: 0 auto;
  .new-todo{
    display: flex;
    justify-content: center;
    input{
      max-width: 80%;
      width: 400px;
      min-width: none;
      height: 30px;
      font-size: 1rem;
      padding-left: 0.5rem;
      border-radius: 10px;
    }
    button{
      cursor: pointer;
    }
  }
  @media screen and (max-width: 320px){
    .new-todo{
      flex-direction: column;
      input{
        max-width: 95%;
        margin-bottom: 10px;
      }
    }
  }
}

.todo{
  //width: 600px;
  font-size: 1.3rem;
  padding: 0.7rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #4285f4;
  color: rgb(233, 233, 233);
  font-weight: 500;
  box-shadow: 5px 4px 15px 0px rgb(49, 49, 49);
  border-radius: 15px;

  position: relative;
  span{
    max-width: 400px;
    min-width: 40vw;
  }
  @media screen and (max-width: 650px) {
    span{
      max-width: 100px;
    }
  }
  @media screen and (max-width: 285px){
    span{
      min-height: 75px;
    }
  }
  .buttons{
    button{
      margin: 0.1rem 0 0 0.5rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;

      position: absolute;
    }
    .del-btn{
      right: 1%;
      top: 2px;
    }
    .done-btn{
      right: 13.5%;
      top: 2px;
    }
    @media screen and (max-width: 650px) {
      .done-btn{
        right: 17.5%;
        top: 2px;
      }
    }
    @media screen and (max-width: 500px){
      .done-btn{
        right: 25%;
        top: 2px;
      }
    }
    @media screen and (max-width: 340px){
      .done-btn{
        right: 30%;
        top: 2px;
      }
    }
    @media screen and (max-width: 285px){
      .done-btn{
        right: 1%;
        top: 45px;
      }
    }
  }
}

.completed{
  background-color: #34a853;
  color: black;
}

.loading{
  width: 300px;
  margin: 10rem auto;
  font-size: 2rem;
  p{
    text-align: center;
  }
}




// Dots animation
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
  margin: 0 auto;
 }

 .newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
 }

 .newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
 }

 .newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
 }

 .newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
 }

 @keyframes swing {
  0% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }

  25% {
   transform: rotate(70deg);
   animation-timing-function: ease-in;
  }

  50% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 }

 @keyframes swing2 {
  0% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }

  50% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }

  75% {
   transform: rotate(-70deg);
   animation-timing-function: ease-in;
  }
 }
