<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> HOME </h1>

    <div>

        <%= mostra %>

    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Cognome</th>

            </tr>
        </thead>
        <tbody id="target">

        </tbody>
    </table>


    <script>let x = "<%= mostra %>" 
    console.log(x)
    </script>
</body>
</html>