
<div class="container">
  <div class="new-todo">
    <input [(ngModel)]="newTodo.title" type="text" name="title" placeholder="Your task...">
    <button (click)="add()" [swal]="['Task added!','', 'success']">Add</button>
  </div>
  <div class="todos-container">

    <div class="loading" *ngIf="allTodos.length == 0">
      <p>Retrieving tasks...</p>

      <div class="newtons-cradle">
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
      </div>

    </div>

    <app-list-item [todos]="allTodos"></app-list-item>

  </div>
</div>



