.container{
  .new-todo{
    input{
      width: 80%;
      height: 30px;
      font-size: 1rem;
      padding-left: 0.5rem;
    }
    button{
      height: 30px;
      border: none;
      background-color: white;
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
