<div class="container">

  <main class="form-signin m-auto my-5">
    <form [formGroup]="editForm" (submit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Post something:</h1>

      <div class="form-floating mb-2">
        <input formControlName="postTitle" type="text" class="form-control" id="floatingInput1" placeholder="Post title">
        <label for="floatingInput1">Post title</label>
      </div>
      <div class="form-floating mb-2">
        <textarea formControlName="postContent" type="email" class="form-control" id="floatingInput2" placeholder="Post content"></textarea>
        <label for="floatingInput2">Post content</label>
      </div>
      <div class="form-floating mb-2">
        <input formControlName="postOwner" type="email" class="form-control" id="floatingInput3" placeholder="Post owner" readonly>
        <label for="floatingInput2">Post owner id (readonly)</label>
      </div>


      <button class="w-100 btn btn-lg btn-primary" type="submit">Post</button>

    </form>
  </main>

</div>
