.auth-container {
  min-width: 180px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 15px 20px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
