<h1 class="text-center mt-4">Crea nuovo utente</h1>
<div class="container">
  <form>
    <input type="text" [(ngModel)]="newUser.name" name="name" class="form-control mb-2" placeholder="Nome">
    <input type="text" [(ngModel)]="newUser.lastname" name="lastname" class="form-control" placeholder="Cognome">
    <input id="active" [(ngModel)]="newUser.active" type="checkbox" name="active">
    <label for="active">Attivo </label>
    <button class="btn btn-primary ms-5 mt-2" (click)="save()">Salva</button>
  </form>
</div>
