#main-header{
    background-color: green;
    height: 50px;
    text-align: center;
}


#menu > li, #menu, #main-header nav{
    height: 100%;
    
}

#menu > li{
    display: inline-block;
    
}

#menu li{
    
    line-height: 50px;
    transition: all 0.3s;

}

#menu a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;

    /* le due linee sotto
    servono a dare agli a
    un area cliccabile alta come
    la barra verde dell'header
     */
    line-height: 50px;
    display: block;
    
}

#menu li:hover{
    background-color: white;
    
}

#menu li:hover > a{
    color: green;
    
}

/* sottomenu chi siamo */


/* !!!!!DOMANDARE PERCHE' POSITION ABSOLUTE!!!!
 COME SI METTONO UNO SOTTO L'ALTRO 
 EREDITARIETA' COME FUNZIONA IN QUESTO CASO*/
#menu li > ul{
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: green;
    width: 200px;
    transition: height 0.3s;
}

#menu li:hover > ul{
    
    height: 150px;
    
    
}


/* dai tablet in giu */
@media screen and (max-width:768px){
    #menu{
        height: 0;
        overflow: hidden;
        transition: all 1s; /*non va animazione*/
    }
    #main-header{
        height: auto;
    }
    #menu li{
        display: block;
    }

    #menu > li{
        height: 50px;
    }

    #menu li > ul{
        display: none;
    }

    input[type="checkbox"]{
        display: none;
    }

    /* il + dice che PRIMA del checkbox che #menu */
    input[type="checkbox"]:checked + #menu{
        height: auto;
    }

    label[for="toggle"]{
        cursor: pointer;
    }

}


