
  <div class="container">
    <h2>Completed tasks:</h2>

    <div class="loading" *ngIf="completedTodos.length == 0">
      <p>Retrieving tasks...</p>

      <div class="newtons-cradle">
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
      </div>

      <p *ngIf="noContent">...no task found.</p>
    </div>

    <app-list-item
    [completedTodos]="completedTodos"
    [noContent]="noContent"></app-list-item>

    <!-- <div *ngFor="let todo of completedTodos" class="todo"
    [ngClass]="todo.completed ? 'completed': ''">

      <span>{{todo.title}}</span>

      <div class="buttons">

        <button class="done-btn"
        (click)="done(todo)"
        [innerText]="todo.completed ? 'Undo' : 'Done'"></button>
        <button class="del-btn" (click)="swalDelete(todo)">Delete</button>

      </div>

    </div> -->
  </div>

