*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(236, 236, 236);
}

.user-img{
    width: 40px;
    float: right;
}

.propSpan{
    text-transform: capitalize;
    font-weight: 600;
}

.label-update{
    font-size: 1.1rem;
    font-weight: 500;
}