
*{
  font-family: 'fira sans', sans-serif;
}

.container{
  width: 600px;
  margin: 0 auto;
  .new-todo{
    input{
      width: 80%;
      height: 30px;
      font-size: 1rem;
      padding-left: 0.5rem;
    }
    button{
      height: 30px;
      border: none;
      background-color: white;
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 1rem;
      cursor: pointer;
    }
    margin: 0 auto;
  }
}

.todo{
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  span{
    width: 384px;
  }
  .buttons{
    button{
      width: 100px;
      margin: 0.1rem 0;
      margin-left: 0.5rem;
      padding: 0.3rem;
      border:none;
      background-color: white;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      border-radius: 15px;
    }
  }
}

.completed{
  background-color: greenyellow;
}

.loading{
  width: 300px;
  margin: 10rem auto;
  font-size: 2rem;
}
