

<div class="container">
  <h2 class="text-center fw-bold my-3"><span>{{user.name}}</span></h2>
</div>

<div class="container my-3">
  <h3>Check out all your posts:
    <a *ngIf="allPostsByUser.length != 0"
    class="btn btn-primary ms-5"
    [routerLink]="['/profile', userNameParam, 'new-post']">or make a new one
    </a>
  </h3>

  <router-outlet></router-outlet>

  <!-- allPostsByUser -->

  <div class="card my-3 my-card" *ngFor="let post of allPostsByUser.reverse()">
    <div class="card-header">
      Posted by user: <span class="fw-semibold">{{post.ownerName}}</span>
      <span *ngIf="post.edited == true"
      class="badge text-bg-danger ms-3">edited</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <div class="actions text-end">
        <a class="btn btn-warning" [routerLink]="['/profile',userNameParam,'edit-post', post.id]">Edit</a>
        <a (click)="openVerticallyCentered(content)" class="btn btn-danger ms-2">Delete</a>
      </div>
    </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>You will not be able to retrieve your post!</p>
        <button type="button" class="btn btn-danger" (click)="modal.close(deleteMyPost(post))">Yes delete it</button>
      </div>
    </ng-template>

  </div>

  <div *ngIf="allPostsByUser.length == 0">
    <h5 class="mt-5">Seems like there's nothing here..</h5>
    <a [routerLink]="['/profile', userNameParam, 'new-post']"
      class="btn btn-primary">Go post something!
    </a>
  </div>
</div>




