

<div class="container">
  <h2 class="text-center my-3">Glad to see you <span>{{user.name}}</span></h2>
</div>

<div class="container my-3">
  <h3>Check out all your posts:
    <a *ngIf="allPostsByUser.length != 0"
    class="btn btn-primary ms-5"
    [routerLink]="['/profile', userNameParam, 'new-post']">or make a new one
    </a>
  </h3>

  <router-outlet></router-outlet>

  <!-- allPostsByUser -->

  <div class="card my-3 my-card" *ngFor="let post of allPostsByUser.reverse()">
    <div class="card-header">
      Posted by user: {{user.name}}  <span *ngIf="post.edited == true" class="text-danger ms-3">(edited)</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <div class="actions text-end">
        <a class="btn btn-warning" [routerLink]="['/profile',userNameParam,'edit-post', post.id]">Edit</a>
        <a (click)="deleteMyPost(post)" class="btn btn-danger ms-2">Delete</a>
      </div>
    </div>
  </div>


  <!-- da fare ngIf -->
  <div *ngIf="allPostsByUser.length == 0">
    <h5 class="mt-5">Seems like there's nothing here..</h5>
    <a [routerLink]="['/profile', userNameParam, 'new-post']"
      class="btn btn-primary">Go post something!
    </a>
  </div>
</div>

