<div class="conmtainer">
  <div class="row">
    <div class="col-6 offset-3">
      <form>
        <input class="form-control" [(ngModel)]="newUser.name" name="name" type="text" placeholder="Nome">
        <input class="form-control" [(ngModel)]="newUser.email" name="email" type="email" placeholder="text" placeholder="Email">
        <button (click)="addUser()" class="btn btn-primary">Invia</button>
      </form>
      {{newUser | json}}
    </div>
  </div>
  <div class="row">
    <div class="mt-3 col-5 offset-1">
      <app-utenti-card [utenti]="utenti"></app-utenti-card>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
