<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a [routerLink]="['/profile', userNameParam]" class="navbar-brand">Welcome
      <span
        *ngIf="checkIfUserLogged()"
        class="ms-2 text-warning nav-link d-inline">{{userName}}
      </span>
    </a>
    <button class="navbar-toggler collapsed"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile', userNameParam]">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']">All Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">All Users</a>
        </li>

        <li class="nav-item dropdown bg-dark" ngbDropdown>
          <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true" ngbDropdownToggle>Settings</a>
          <ul class="dropdown-menu mb-3" data-bs-popper="static" ngbDropdownMenu>
            <li><a ngbDropdownItem class="dropdown-item" [routerLink]="['/edit-profile', userNameParam]">Edit Profile</a></li>
            <li><a ngbDropdownItem disabled class="dropdown-item">WIP</a></li>
          </ul>
        </li>

        <li *ngIf="!checkIfUserLogged()" class="nav-item">
          <a [routerLink]="['/']" class="btn btn-warning">Login</a>
        </li>
        <li *ngIf="checkIfUserLogged()" (click)="logOut()" class="nav-item">
          <button class="btn btn-danger">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
