* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

    --primary: #FF6D00;
    --secondary: #FF9100;
    /*background per testo bianco*/
    --light: #FFAB40;
    --lighter: #FFD180;
}

body {
    background-color: var(--lighter);
}

#global-container {
    background-color: white;
    box-shadow: 3px 3px 20px 0px black;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#nav-bar h1 {
    color: white;
}

#nav-bar span{
    font-size: 1rem;
}

#admin-area{
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#global-container h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--primary);
}

#card-container {
    padding: 1rem;
}

#comment-form-container {
    margin-bottom: 2rem;
    text-align: center;
}


#comment-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#comment-form label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

#comment-form input, textarea{
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 2px solid var(--light);
    transition: outline 0.1s ease-in;
}
#comment-form textarea{
    padding: 1rem 2rem;
}

#comment-form input:focus-visible, #comment-form textarea:focus-visible,
#admin-table .admin-textarea {
    outline: 2px solid var(--primary);
    border: 1px;
}

#comment-form #name {
    background-color: white;
}


#comment-button {
    font-size: 1rem;
    margin: 0 auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 51%, var(--primary) 100%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

#comment-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#comment-button:active {
    transform: scale(0.95);
}

#name {
    margin: 0 auto 1rem;
    width: 100%;
    max-width: 400px;
}

#comment-form #comment {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: left;
}

#comment-button {
    margin-top: 1rem;
    width: 200px;
    margin: 1rem auto;
}

.card {
    max-height: 100%;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 1rem;
    max-width: 600px;
    margin: 1rem auto;
    background-color: var(--light);
}

.card-header {
    border-bottom: 1.5px solid var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;
}

.card-body {
    padding: 1rem 1rem 0;
}

.header-name {
    padding: 0.5rem;
    font-weight: 600;
}

.header-date {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
}

/* latest try */
.latestPost {
    border: 2px solid red;
    position: relative;
}

.flag {
    display: inline;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: -25px;
    left: calc(50% - 70px);
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#toTop{
    color: var(--primary);
    font-size: 2rem;
    position: fixed;
    bottom: 100px;
    transform: translateX(667px);
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;    
    }
    25%{
        opacity: 0;
    }
    60%{
        opacity: 0.5
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    60%{
        opacity: 0.5
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* -------------admin page */
#admin-table{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.comment-name{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 1rem;
}

.comment-date{
    margin: 0.5rem 0;
}

.comment-container{
    margin-bottom: 1rem;
}

.mod-btn{
    margin-right: 0.5rem;
    border: none;
    background-color: var(--light);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.del-btn{
    border: none;
    background-color: var(--primary);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.admin-textarea{
    width: 500px;
    height: 100px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.modifying{
    outline: 2px solid red;
}