header{
  h1{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
  p{
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
