* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(196, 196, 196);
    overflow: hidden;
}


.addBtn {
    width: 300px;
    height: 50px;
    margin: 2rem auto 3rem;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.addBtn input{
    border: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 15px;
}
.addBtn input:focus-visible{
    outline: none;
}

.addBtn button {
    width: 20%;
    height: 100%;
    border-radius: 15px;
    border: none;
    background-color: green;
    color: white;
    font-size: 2rem;
}

.addBtn button:active{
    background-color: rgb(2, 79, 2);
    border-radius: 15px;
}

.phone {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4px 3px 14px 0px rgb(126, 126, 126);
    background-color: green;
    position: relative;
}

.nomeContainer{
    position:absolute;
    transform: translateY(-110%);

    font-size: 1.2rem;
    font-weight: 600;
    background-color: red;
    color: white;
    box-shadow: 4px 3px 14px 0px rgb(126, 126, 126);;
    padding: 0.4rem;
    border-radius: 10px;
}

.credContainer {
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
}

.ricContainer {
    margin-bottom: 0.5rem;
}

.ricContainer input {
    font-size: 1rem;
    width: 50px;
    padding: 0.2rem;
    text-align: center;
    border-radius: 5px;
    border:none;
}

.ricContainer button,
.callContainer button {
    font-size: 1rem;
    padding: 0.2rem;
    margin-left: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.callContainer {
    margin-bottom: 0.5rem;
}

.callContainer input {
    font-size: 1rem;
    width: 100px;
    padding: 0.2rem;
    text-align: center;
    border-radius: 5px;
    border:none;
}

.counterContainer{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.delBtn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.55rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}

.delBtn:hover{
    background-color: rgb(122, 1, 1);
}
.delBtn:active{
    background-color: red;
}


/* --------animations */
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(400%);
        transform: translateX(400%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(400%);
        transform: translateX(400%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}